<h2 class="title">Pedidos</h2>
<div class="container-table">
    <table class="table"  ng-repeat="client in clients">
        <thead>
            <tr>
                <th>Cliente: {{ client.name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-class-even="'even'">
                    <table width="100%">
                        <tbody>
                            <tr ng-repeat="order in client.order">
                                <td>{{ order.name }}</td>
                                <td>{{ order.description }}</td>
                                <td><img ng-src="{{ order.image }}" alt="{{ order.description }}"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>