<h2 class="title">Pedidos</h2>
<div class="container-table">
    <table class="table"  ng-repeat="client in clients">
        <tbody>
            <tr>
                <th>{{ client.name }}</th>
            </tr>
            <tr>
                <td ng-class-even="'even'">
                    <table>
                        <tbody>
                            <tr ng-repeat="i in items">
                                <td>{{ i.name }}</td>
                                <td>{{ i.description }}</td>
                                <td><img ng-src="{{ i.image }}" alt="{{ i.description }}"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>