body{
    font-family: 'Roboto', Arial;
}

#container-sidebar{
    width: 200px;
    height: 100%;
    position: fixed;
    background: #6f5499;
    border-right: 2px solid #553785;

    .headline{
        font-size: 20px;
        font-weight: normal;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }

    .menu{
        li{
            display: block;
        }

        a{
            color: #cdbfe3;
            text-decoration: none;
            display: block;
            font-size: 13px;
            padding: 20px;
            background: none;

            &:hover,
            &.curren{
                background: #eee;
                color: #6f5499;
            }
        }
    }
}

#main-content{
    width: 80%;
    margin-left: 220px;
    padding: 20px 0;
}

.title{
    font-size: 20px;
    color: #553785;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 20px;
}