.container-table{
    border: 1px solid #cdbfe3;
}

.table{
    width: 100%;
    margin: 0 auto;

    th,
    td{
        padding: 5px;
        text-align: left;
    }

    th{
        background: #cdbfe3;
        color: #6f5499;
        font-size: 14px;
    }

    td{
        font-size: 12px;
        vertical-align: middle;

        &.even{
            background: #efefef;
        }
    }

    img{
        max-width: 30px;
        border: 1px solid #eee;
    }
}